@import "src/styles/variables";
@import "src/styles/mixin";

.root {
  padding: 10px 20px;
  width: 100%;
  position: relative;

  .del {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 16px;
    color: #e01a65;
    cursor: pointer;

  }
  .box {
    margin-top: 20px;
    padding: 0 20px;

    .emojiPicker {
      display: inline-block;
      position: relative;

      &:hover {
        @include hoverText("emoji", 40px, 30px, _);
      }
    }
    > h4 {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .title {
      display: block;
      background: none;
      color: white;
      outline: none;
      border: none;
      letter-spacing: 1px;
      font-size: 26px;
      margin: 10px 0;
    }
  }

  .star {
    font-size: 32px;
    cursor: pointer;
    position: relative;

    &:hover {
      @include hoverText("favorite", 36px, 20px, _);
    }
  }

  .desc1 {
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .desc {
    width: 100%;
    height: 100px;
    background: none;
    color: white;
    outline: none;
    border: none;
    overflow: hidden;
    resize: none;
  }

  > div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    > p {

      > span {
        margin-right: 10px;
      }
    }
  }
  button {
    margin-top: 30px;
    background-color: #211c34;
    padding: 8px 18px;
    cursor: pointer;
    opacity: 0.7;
    color: #c1cbfd;
    font-size: 16px;

    &:hover {
      opacity: 1;
    }
  }


  hr {
    width: 100%;
    margin-top: 20px;
    opacity: 0.3;
  }
}

