@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}
h1, h2, h3, h4, h5, h6, p {
  font-size: 100%;
}
ol, ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}



.ck.ck-editor__main>.ck-editor__editable {
  //background-color: #121212 !important;
  background-color: #232323 !important;
  border: none;
  outline: none !important;

}
.ck.ck-editor__main>.ck-editor__editable.ck-focused {
  border: none;
}

.ck.ck-toolbar .ck.ck-toolbar__separator {
  background-color: transparent;
}

.ck.ck-toolbar.ck-toolbar_grouping {
  background-color: transparent;
  border: none;
}

.ck.ck-button,
.ck.ck-button.ck-on {
  color: #afaeae!important;
  background-color: transparent;

}

.ck.ck-button:hover,
.ck.ck-button.ck-off:hover,
.ck.ck-button.ck-on:hover {
  background-color: transparent !important;
  cursor: pointer;
  color: white!important;
}


.ck-dropdown__panel .ck.ck-button.ck-off.ck-button__with-text {
  background-color: #232323 !important;
  outline: none !important;
}

.ck.ck-list__item {
  background-color: #232323 !important;

}

.ck-dropdown__panel .ck-dropdown__panel-visible {
  border: none;

}

.ck-editor__top {
  position: sticky !important;
  background: #232323 !important;

}
.minHeight {
  .ck-editor__editable {
    height: 200px!important;
  }
}
.maxHeight {
  .ck-editor__editable {
    height: 400px!important;
  }
}




