@import "src/styles/mixin";
@import "src/styles/variables";

.root {
  max-width: 300px!important;
  min-height: 100vh;
  padding: 5px 7px;
  background-color: $gray-800;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 0;
    padding: 7px 15px;
    opacity: 0.7;
    font-size: $font-md-18;
    overflow-wrap: break-word;


    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: $gray-300;
      background: none;
      width: 40px;

      &:after {
        content: "";
        width: 30px;
        height: 20px;
        position: absolute;
        left: -30px;
        background: linear-gradient(to left , $gray-800, transparent);;

      }

    }
    > p {
      overflow-wrap: break-word;
      word-break: break-all;
    }


    > h3 {
      //position: absolute;
      letter-spacing: 1px;
      width: 270px;
      height: 100%;
      text-wrap: normal;
      white-space: nowrap;
      overflow: hidden;
      line-height: 90%;
    }
    .logout {
      position: relative;
      cursor: pointer;
      &:hover {
        @include hoverText("logout", 27px, 15px, _);

      }
    }

    &:hover {
      background-color: $gray-400;
      opacity: 1;
      span {
        color: $gray-250;
        &:after {
          content: "";
          width: 30px;
          height: 20px;
          position: absolute;
          left: -30px;
          background: linear-gradient(to left ,$gray-400, transparent)!important;

        }
      }
    }

    .add {
      cursor: pointer;
      position: relative;

      &:hover {
        @include hoverText("add", 27px, 13px, _);
      }
    }
  }
}

