@import "src/styles/mixin";
@import "src/styles/variables";

.root {
  width: 400px;
  min-height: 100vh;
  padding: 5px 7px;
  background-color: $gray-800;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 0;
    padding: 7px 15px;
    opacity: 0.7;
    font-size: $font-md-18;
    overflow-wrap: break-word;


    > span {
      display: flex;
      align-items: center;
      color: $gray-300;

    }
    > p {
      overflow-wrap: break-word;
      word-break: break-all;
    }


    > h3 {
      letter-spacing: 1px;
      line-height: 100%;

    }
    .logout {
      position: relative;
      cursor: pointer;
      &:hover {
        @include hoverText("logout", 27px, 15px, _);
      }
    }

    &:hover {
      background-color: $gray-400;
      opacity: 1;
      span {
        color: $gray-250;
      }
    }

    .add {
      cursor: pointer;
      position: relative;

      &:hover {
        @include hoverText("add", 27px, 13px, _);
      }
    }
  }
}

