@import "src/styles/variables";
.root {

  //> form:nth-child(1) {
  //  width: 450px;
  //  height: 520px;
  //  padding: 5px 10px;
  //  margin-bottom: 20px;
  //  background: $gray-900;
  //
  //  .error {
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    height: 40px;
  //    width: 100%;
  //    letter-spacing: 3px;
  //  }
  //
  //  > h1 {
  //    text-align: center;
  //  }
  //}

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background: none;

    > p {
      margin-bottom: 10px;
    }
  }
  input {
    width: 100%;
    padding: 10px 5px;
    font-size: $font-md-18;
    color: $white;
    outline: none;
    background: none;
    border: 1px solid $gray-300;
  }
  > button {
    width: 100%;
    padding: 10px 0;
    background: none;
    color: $white;
    font-size: $font-lg-20;
    cursor: pointer;
    margin: 10px 0;
    border: none;

    &:hover {
      background: $gray-600;
    }
  }
}

.nav {
  padding: 8px 10px;
  border-radius: 10px;
  color: $blue-light-500;
  background: $gray-900;
  text-align: center;

  &:hover {
    background: $gray-600;
    cursor: pointer;
  }
}

.activeInput {
  border: 1px solid $green-light-500!important;
}