@import "src/styles/variables";

.root {
  overflow-wrap: break-word;
  display: flex;
  padding: 2px 20px;
  cursor: pointer;
  margin: 4px 0;

  &:hover {
    background-color: $gray;
  }
  > p {
    margin-left: 5px;
  }
}